/**
 * Custom login styles.
 */
.login h1 a {
	background: url('../images/Logo_Zahil.svg') center top no-repeat !important;
    background-size: contain !important;
    height: 130px !important;
    width: 100% !important;
}

/**
 * Custom admin styles.
 */
#footer-upgrade {
	visibility: hidden !important;
}

#footer-left {
	float: right !important;
}

#contextual-help-link-wrap,
#wp-version-message,
#normal-sortables #dashboard_right_now .inside .versions p {
	display: none !important;
}

.mce-window .mce-container-body.mce-abs-layout {
	overflow: hidden !important;
	overflow-y: auto !important;
}
