/*
Theme Name: Zahil
Theme URI: https://www.sendylago.com
Description: Zahil WP Woo Theme.
Author: Sendy Lago
Author URI: https://www.sendylago.com
Version: 0.0.1
Text Domain: zahil
*/

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins/Poppins-Regular.otf');
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Light.otf");
    font-weight: lighter;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Italic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBold.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBoldItalic.otf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}
* {
    outline: 0;
}

a {
    text-decoration: none;
}
b, strong {
    font-weight: 600;
}

body{
    font-family: "Poppins", sans-serif;
    font-size:14px;
    line-height: 1.5em;
    color: #868686;
    outline: none;
}
.special {
    font-family: "PlayfairDisplay";
}
.position-relative {
    position: relative;
}
body:not(.home) header {
    border-bottom: 1px solid #e5e5e5;
}
header {
    background-color: #fff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 350ms ease-in-out;
}
header .logo img {
    /*padding: 20px 0 30px;*/
    width: 140px;
    transition: all 350ms ease-in-out;
}
header .abrir-menu {
    background: #e41e26;
    border-radius: 2px;
    color: #fff;
    display: none;
    font-size: 18px;
    margin-right: 0px;
    padding: 8px 12px;
    position: absolute;    
    right: 0;
    top: 5px;
}
header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: initial;
}
header .menu-principal > ul,
header .menu-footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
header .menu-principal  > ul > li,
header .menu-footer  > ul > li {
    cursor: pointer;
}
header .menu-principal > ul > li > a,
header .menu-footer > ul > li > a {
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 8px;
    text-decoration: none;
    transition: color 350ms ease-in-out;
}
header .menu-principal ul > li > a:hover,
header .menu-principal ul > li > a:focus,
header .menu-principal ul > li > a.active,
header .menu-footer ul > li > a:hover,
header .menu-footer ul > li > a:focus,
header .menu-footer ul > li > a.active {
    color: #e21f25;
}
header .menu-principal ul > li > ul.sub-menu {
    display: none;
    list-style: inside none;
    margin: 0;
    padding: 0;    
}
header .menu-principal ul > li ul.sub-menu li {
    list-style: inside none;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
    position: relative;
    width: 16%;
    padding-right: 2em;
}
header .menu-principal ul > li ul.sub-menu li ul li {
    padding-right: 0 !important;
}

header .menu-principal ul > li > ul.sub-menu > li li {
    float: left;
    display: block;
    position: relative;
    width: auto;
}
header .menu-principal ul > li > ul.sub-menu > li > a {
    color: #333;
    font-weight: bold;
}
header .menu-principal ul > li > ul.sub-menu > li > a:first-child {
    display: block;
    pointer-events: none; 
    text-transform: uppercase;
}
header .menu-principal ul > li:hover > ul.sub-menu {
    display: flex;
    position: absolute;
    width: 100%;
    background: #fff;
    border-top: 2px solid #e21f25;
    left: 0;
    padding: 20px;
    z-index: 99999;
    align-items: start;
    justify-content: space-around;
}
header .menu-principal ul > li:hover > ul.sub-menu > li > ul {
    position: relative;
    height: auto;
    background: transparent;
    border: none;
    display: inline-block;
    padding: 15px 0 5px;
}
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li {
    float: none;
}
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li > a {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    display: block;
    padding: 5px 0;    
}
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li > a:hover,
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li > a:focus,
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li > a.active {
    color: #e21f25;
    text-decoration: none;
}
header .menu-principal ul > li:hover > ul.sub-menu > li > ul > li > a:first-child {
    pointer-events: initial;
}
header.fixar {
    background-color: #fff !important;
    padding-bottom: 0 !important;
    z-index: 9 !important;
}
header.fixar .img-fluid {
    display: none;
}
header.fixar .fixo {
    display: inline-block !important;
}
header.fixar .menu-principal > ul > li > a {
    color: #333 !important;
}

header .menu-cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .menu-cart svg {
    width: 20px;
    height: auto;
}
header .menu-cart a.cart svg {
    width: 30px;
}
header .cart-login a{
    margin: 0 15px;
    color: #000;
    transition: color 350ms ease-in-out;
    position: relative;
    display: inline-block;
}
header .cart-login a.cart {
    margin-right: 0;
}
header .cart-login .conta a,
header .cart-login a.conta span{
    font-size: 11px;
    color: #000;
    line-height: 11px;
}
header .cart-login a .quantidade{
    position: absolute;
    top: -11px;
    right: -10px;
    font-size: 9px;
    background: #e41e26;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
header .cart-login a:hover,
header .cart-login a:focus{
    color: #999;
}

.fechar-menu {
    position: absolute;
    top: 10px;
    left: 360px;
    background: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    color: #222;
    width: 30px;
    height: 30px;
    z-index: 999;
    font-size: 1.75rem;
}

/* Search Busca */
header .busca {
    opacity: 0;
    position: relative;
    transition: opacity 350ms ease-in-out;
}
header .busca.active {
    display: block !important;
    opacity: 1;
}
header .busca.active:before {
    content: " ";
    display: block;
    position: absolute;
    top: -15px;
    right: calc(1% + 125px);
    z-index: 1;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .busca form,
header .busca .input-group {
    width: 50%;
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 2;
}
header .busca .input-group-btn {
    background: #e41e26;
    width: 50px;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
header .busca .input-group-btn:hover,
header .busca .input-group-btn:focus {
    background: #000;
}
header .busca input[type="search"] {
    outline: none;
    text-align: center;
}
header .busca .input-group-btn button {
    line-height: 20px;
}
header .busca .input-group-btn svg {
    width: 20px;
}

/* HOME */
.home header {
    background-color: transparent;
    width: 100%;
    z-index: 1;
}
header .menu-principal > ul > li.menu-item-has-children:after {
    background: url('../images/svg/seta-menu.svg') no-repeat center;
    background-size: contain;
    content: "";
    display: inline-block;    
    line-height: 15px;
    margin-left: -10px;
    margin-right: 10px;
    width: 10px;
    height: 5px;
}
.home header .menu-principal > ul > li > a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 15px;
    text-decoration: none;
    transition: color 350ms ease-in-out;
}
.home header .menu-principal ul > li > a:hover,
.home header .menu-principal ul > li > a:focus,
.home header .menu-principal ul > li > a.active{
    color: #e41e26;
}
.home .infos-pgto {
    color: #363636;
    border-bottom: 1px solid #ccc;
}
.home .infos-pgto .cartao:before {
    background: url('../images/svg/mini_credito.svg') no-repeat center;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.home .infos-pgto .boleto:before {
    background: url('../images/svg/mini_desconto.svg') no-repeat center;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.home .infos-pgto .entrega:before {
    background: url('../images/svg/mini_frete.svg') no-repeat center;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

/* Banner */
section#banner {
    background: url('../images/bg-banner-min.png') no-repeat center;
    background-size: cover;
    height: 550px;
    overflow: hidden;
    z-index: 0;
}
section#banner .carousel-item .subtitle {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 155px;
}
section#banner .carousel-item .title {
    font-family: 'PlayfairDisplay';
    color: #ffffff;
    font-size: 350%;
    line-height: 1.5;
    font-weight: 400;
}
section#banner .carousel-item .description {
    font-family: 'Poppins';
    color: #ccc;
    font-size: 112.5%;
    font-weight: 400;
    line-height: 1.5;    
    margin: 0em 0em 3.125em;
}
section#banner .carousel-item a.button {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 1;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
}
section#banner .carousel-item a.button:hover,
section#banner .carousel-item a.button:focus {
    background: #e41e26;
    color: #ffffff;
}
section#banner .carousel-item img {
    margin-top: 100px;
}
section#banner .carousel-control-next,
section#banner .carousel-control-prev {
    margin-top: -100px;
    width: 8%;
}

/* Quem Somos */
main.page-quem-somos {
    background: url('../images/bg-quem-somos.png') no-repeat center;
    background-size: cover;
    color: #fff;
    padding-top: 160px;
    padding-bottom: 100px;
}
h1.title {    
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h2.sub-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-transform: capitalize;
    word-spacing: 100vw;    
}
h2.sub-title:after {
    border-bottom: 1px solid #e41e26;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 40px;
}
.page-quem-somos .compromisso {
    margin: 50px 0 80px;
}
    .page-quem-somos .compromisso p {
        font-size: 18px;
        line-height: 1.3;
    }
.quem-faz h3 {
    display: inline-block;
    letter-spacing: 4px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.quem-faz h3:after {
    border-bottom: 1px solid #e41e26;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 40px;
}
.quem-faz p {
    font-size: 18px;
    line-height: 1.3;
}
.quem-faz img {
    display: block;
    margin-top: 110px;
}

.quem-faz .conteudo {
    font-size: 16px;
}

/* Produtos - Vinhos e Empório */
section.produtos h2.special {
    color: #363636;
    margin-bottom: 50px;
    text-transform: uppercase; 
}
section.produtos h2.special:after {
    border-bottom: 1px solid #e41e26;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    text-align: center;
    width: 40px;
}

/* Newsletter */
.newsletter {
    background: #ccc url('../images/bg-newsletter.jpg') no-repeat center bottom;
    background-size: cover;
    height: 460px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.newsletter img {
    position: absolute;
}
.newsletter .content h3,
.newsletter .content p {
    color: #fff;
}
.newsletter .content h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.newsletter .content p {
    margin-bottom: -20px;
    padding: 0 55px;    
}
.newsletter .content h3 span.red {
    color: #e41e26;
}
.newsletter .content .formulario input[type="text"],
.newsletter .content .formulario input[type="email"] {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    margin-top: 30px;
    outline: none;
    padding-left: 0;    
}
.newsletter .content .formulario input[type="text"]::-webkit-input-placeholder,
.newsletter .content .formulario input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.newsletter .content .formulario input[type="text"]::-moz-placeholder,
.newsletter .content .formulario input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.newsletter .content .formulario input[type="text"]:-ms-input-placeholder,
.newsletter .content .formulario input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.newsletter .content .formulario input[type="text"]:-moz-placeholder,
.newsletter .content .formulario input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.newsletter .wpcf7-submit.bt-red {
    background-color: #e41e26;
    border: none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    transition: background 350ms ease-in-out;
    width: 100%;
}
.newsletter .wpcf7-submit.bt-red:hover,
.newsletter .wpcf7-submit.bt-red:focus {
    background-color: #fff;
    color: #e41e26;
}

/* Internas */
main.interna {
    margin-top: 100px;
}

/* Loja */
.archive main.site-main {
    margin-top: 100px;
}
.woocommerce-products-header {
    background: #F5F5F5 url('../images/bg-categoria-vinhos.png') no-repeat center right;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 92px;
    overflow: hidden;
}
.woocommerce-products-header .term-description {
    padding-bottom: 30px;
}
.term-emporio .woocommerce-products-header {
    background: #F5F5F5 url('../images/bg-categoria-emporio.png') no-repeat top right;
}
.woocommerce-products-header h1 {
    font-weight: bold;
    margin: 50px 0 20px 0;
}
.woocommerce-products-header h1:before {
    border-top: 1px solid #e41e26;
    content: "";
    display: block;
    margin-bottom: 20px;
    width: 40px;
}
.woocommerce-products-header img {
    position: absolute;
    display: inline-block;
    max-width: 456px;
    top: 0;
    left: 0;
}

/* Produto */
.home .produtos .onsale,
.woocommerce .onsale {
    display: none !important;
}
.home .produtos .content {
    min-height: 335px;
    padding: 20px;
}
.home .produtos a img,
.woocommerce ul.products li.product a img {    
    max-height: 250px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
.home .produtos .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    color: #333;
    font-size: 18px;
}
.home .produtos .price,
.home .produtos .price ins,
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price ins {
    color: #e41e26;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 44px;    
    text-decoration: none;
}
.home .produtos .price del,
.woocommerce ul.products li.product .price del {
    color: #333;
    display: block;
    font-weight: normal;
}
/* Button Comprar Add to Cart */
.home .produtos .button:before,
.woocommerce ul.products li.product .button:before {
    background: #e41e26 url('../images/svg/carrinho_white.svg') no-repeat center;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    padding: 25px;
    border-radius: 50px;
    margin-right: 15px;
}
.home .produtos .button,
.woocommerce ul.products li.product .button {
    background: transparent;
    display: flex;
    align-items: center;
    color: #e41e26;
    font-weight: 600;
    padding-left: 0;
    margin-top: 1em;
}
.home #vinhos .button {
    position: absolute;
    bottom: 0;
}
.home #emporio .button,
.woocommerce.term-emporio ul.products li.product .button {
    justify-content: center;
}

/* Carousel */
.carousel-produtos.owl-theme .owl-nav {
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: calc(50% - 12px);
    position: absolute;
}
.carousel-produtos.owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
    margin: 0;
}
.carousel-produtos.owl-theme .owl-nav .arrow-left {
    background: url('../images/svg/seta_circular_esquerda.svg') no-repeat center;
    height: 30px;
    width: 30px;
}
.carousel-produtos.owl-theme .owl-nav .arrow-right {
    background: url('../images/svg/seta_circular_direita.svg') no-repeat center;
    height: 30px;
    width: 30px;
}

/* Infos */
.home .produtos .infos span,
.woocommerce .infos span {    
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;
}
.infos span.tipo {
    background: url('../images/svg/tipo.svg') no-repeat top left;
    background-size: auto 20px;
}
.infos span.uva {
    background: url('../images/svg/uvas.svg') no-repeat top left;
    background-size: auto 20px;
    line-height: 15px;
    margin-bottom: 34px !important;
    padding-top: 2px;
}
.infos span.pais {
    background-size: contain !important;
    content: "";
    width: 20px;
    height: 20px;
}
/* Bandeiras */
.infos span.abkhazia {background: url('../images/bandeiras/abkhazia.svg') no-repeat top left;}
.infos span.afeganistao {background: url('../images/bandeiras/afeganistao.svg') no-repeat top left;}
.infos span.africa-do-sul {background: url('../images/bandeiras/africa-do-sul.svg') no-repeat top left;}
.infos span.aland-islands {background: url('../images/bandeiras/aland-islands.svg') no-repeat top left;}
.infos span.albania {background: url('../images/bandeiras/albania.svg') no-repeat top left;}
.infos span.alemanha {background: url('../images/bandeiras/alemanha.svg') no-repeat top left;}
.infos span.algeria {background: url('../images/bandeiras/algeria.svg') no-repeat top left;}
.infos span.american-samoa {background: url('../images/bandeiras/american-samoa.svg') no-repeat top left;}
.infos span.andorra {background: url('../images/bandeiras/andorra.svg') no-repeat top left;}
.infos span.angola {background: url('../images/bandeiras/angola.svg') no-repeat top left;}
.infos span.anguilla {background: url('../images/bandeiras/anguilla.svg') no-repeat top left;}
.infos span.antigua-and-barbuda {background: url('../images/bandeiras/antigua-and-barbuda.svg') no-repeat top left;}
.infos span.argentina {background: url('../images/bandeiras/argentina.svg') no-repeat top left;}
.infos span.armenia {background: url('../images/bandeiras/armenia.svg') no-repeat top left;}
.infos span.aruba {background: url('../images/bandeiras/aruba.svg') no-repeat top left;}
.infos span.australia {background: url('../images/bandeiras/australia.svg') no-repeat top left;}
.infos span.austria {background: url('../images/bandeiras/austria.svg') no-repeat top left;}
.infos span.azerbaijan {background: url('../images/bandeiras/azerbaijan.svg') no-repeat top left;}
.infos span.azores-islands {background: url('../images/bandeiras/azores-islands.svg') no-repeat top left;}
.infos span.bahamas {background: url('../images/bandeiras/bahamas.svg') no-repeat top left;}
.infos span.bahrain {background: url('../images/bandeiras/bahrain.svg') no-repeat top left;}
.infos span.balearic-islands {background: url('../images/bandeiras/balearic-islands.svg') no-repeat top left;}
.infos span.bangladesh {background: url('../images/bandeiras/bangladesh.svg') no-repeat top left;}
.infos span.barbados {background: url('../images/bandeiras/barbados.svg') no-repeat top left;}
.infos span.basque-country {background: url('../images/bandeiras/basque-country.svg') no-repeat top left;}
.infos span.belarus {background: url('../images/bandeiras/belarus.svg') no-repeat top left;}
.infos span.belgium {background: url('../images/bandeiras/belgium.svg') no-repeat top left;}
.infos span.belize {background: url('../images/bandeiras/belize.svg') no-repeat top left;}
.infos span.benin {background: url('../images/bandeiras/benin.svg') no-repeat top left;}
.infos span.bermuda {background: url('../images/bandeiras/bermuda.svg') no-repeat top left;}
.infos span.bhutan {background: url('../images/bandeiras/bhutan.svg') no-repeat top left;}
.infos span.bolivia {background: url('../images/bandeiras/bolivia.svg') no-repeat top left;}
.infos span.bonaire {background: url('../images/bandeiras/bonaire.svg') no-repeat top left;}
.infos span.bosnia-and-herzegovina {background: url('../images/bandeiras/bosnia-and-herzegovina.svg') no-repeat top left;}
.infos span.botswana {background: url('../images/bandeiras/botswana.svg') no-repeat top left;}
.infos span.brasil {background: url('../images/bandeiras/brazil.svg') no-repeat top left;}
.infos span.british-columbia {background: url('../images/bandeiras/british-columbia.svg') no-repeat top left;}
.infos span.british-indian-ocean-territory {background: url('../images/bandeiras/british-indian-ocean-territory.svg') no-repeat top left;}
.infos span.british-virgin-islands {background: url('../images/bandeiras/british-virgin-islands.svg') no-repeat top left;}
.infos span.brunei {background: url('../images/bandeiras/brunei.svg') no-repeat top left;}
.infos span.bulgaria {background: url('../images/bandeiras/bulgaria.svg') no-repeat top left;}
.infos span.burkina-faso {background: url('../images/bandeiras/burkina-faso.svg') no-repeat top left;}
.infos span.burundi {background: url('../images/bandeiras/burundi.svg') no-repeat top left;}
.infos span.cabo-verde {background: url('../images/bandeiras/cabo-verde.svg') no-repeat top left;}
.infos span.camaroes {background: url('../images/bandeiras/camaroes.svg') no-repeat top left;}
.infos span.cambodia {background: url('../images/bandeiras/cambodia.svg') no-repeat top left;}
.infos span.canada {background: url('../images/bandeiras/canada.svg') no-repeat top left;}
.infos span.cayman-islands {background: url('../images/bandeiras/cayman-islands.svg') no-repeat top left;}
.infos span.central-african-republic {background: url('../images/bandeiras/central-african-republic.svg') no-repeat top left;}
.infos span.ceuta {background: url('../images/bandeiras/ceuta.svg') no-repeat top left;}
.infos span.chad {background: url('../images/bandeiras/chad.svg') no-repeat top left;}
.infos span.chile {background: url('../images/bandeiras/chile.svg') no-repeat top left;}
.infos span.china {background: url('../images/bandeiras/china.svg') no-repeat top left;}
.infos span.christmas-island {background: url('../images/bandeiras/christmas-island.svg') no-repeat top left;}
.infos span.cocos-island {background: url('../images/bandeiras/cocos-island.svg') no-repeat top left;}
.infos span.colombia {background: url('../images/bandeiras/colombia.svg') no-repeat top left;}
.infos span.comoros {background: url('../images/bandeiras/comoros.svg') no-repeat top left;}
.infos span.cook-islands {background: url('../images/bandeiras/cook-islands.svg') no-repeat top left;}
.infos span.corsica {background: url('../images/bandeiras/corsica.svg') no-repeat top left;}
.infos span.costa-rica {background: url('../images/bandeiras/costa-rica.svg') no-repeat top left;}
.infos span.croacia {background: url('../images/bandeiras/croacia.svg') no-repeat top left;}
.infos span.cuba {background: url('../images/bandeiras/cuba.svg') no-repeat top left;}
.infos span.curacao {background: url('../images/bandeiras/curacao.svg') no-repeat top left;}
.infos span.cyprus {background: url('../images/bandeiras/cyprus.svg') no-repeat top left;}
.infos span.czech-republic {background: url('../images/bandeiras/czech-republic.svg') no-repeat top left;}
.infos span.democratic-republic-of-congo {background: url('../images/bandeiras/democratic-republic-of-congo.svg') no-repeat top left;}
.infos span.dinamarca {background: url('../images/bandeiras/dinamarca.svg') no-repeat top left;}
.infos span.djibouti {background: url('../images/bandeiras/djibouti.svg') no-repeat top left;}
.infos span.dominica {background: url('../images/bandeiras/dominica.svg') no-repeat top left;}
.infos span.dominican-republic {background: url('../images/bandeiras/dominican-republic.svg') no-repeat top left;}
.infos span.franca {background: url('../images/bandeiras/frança.svg') no-repeat top left;}
.infos span.espanha {background: url('../images/bandeiras/espanha.svg') no-repeat top left;}
.infos span.portugal {background: url('../images/bandeiras/portugal.svg') no-repeat top left;}
.infos span.italia {background: url('../images/bandeiras/italy.svg') no-repeat top left;}
.infos span.uruguai {background: url('../images/bandeiras/uruguay.svg') no-repeat top left;}


/* Sidebar */
#sidebar {
    background: #f9f9f9;
    color: #333;
    margin-bottom: 100px;
    padding: 25px;
}
#sidebar aside {
    margin-bottom: 40px;
}
#sidebar h3.widget-title,
#sidebar .woof_container h4 {
    background-size: 20px !important;
    padding-left: 30px;
    border-bottom: 1px solid #e41e26;
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
#sidebar .widget-preco h3.widget-title {
    background: url('../images/svg/price.svg') no-repeat top left;
}
#sidebar .widget-tipo h3.widget-title,
#sidebar .woof_container .woof_container_inner_tipo h4 {
    background: url('../images/svg/tipo.svg') no-repeat top left;
    padding-top: 12px;
}
#sidebar .widget-uvas h3.widget-title,
#sidebar .woof_container .woof_container_inner_uvas h4 {
    background: url('../images/svg/uvas.svg') no-repeat top left;
    padding-top: 5px;
}
#sidebar .widget-pais h3.widget-title,
#sidebar .woof_container .woof_container_inner_pases h4 {
    background: url('../images/svg/pais.svg') no-repeat top left;
}
#sidebar .widget-estilo h3.widget-title,
#sidebar .woof_container .woof_container_inner_estilo h4 {
    background: url('../images/svg/estilo.svg') no-repeat top left;
}
#sidebar .widget-selecoes h3.widget-title,
#sidebar .woof_container .woof_container_inner_selees h4 {
    background: url('../images/svg/selecoes.svg') no-repeat top left;
}
#sidebar .widget-categorias h3.widget-title,
#sidebar .woof_container .woof_container_inner_categorias h4 {
    background: url('../images/svg/categoria.svg') no-repeat top left;
}
#sidebar .widget-parceiros h3.widget-title,
#sidebar .woof_container .woof_container_inner_parceiros h4 {
    background: url('../images/svg/parcerias.svg') no-repeat top left;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #363636 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #e41e27 !important;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a {
    color: #000;
    padding-left: 20px;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span.count {
    display: none;
}
.woof_block_html_items ul {
    padding-left: 10px;
}
.woof label {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
    line-height: 1;    
}
.woof li input[type="checkbox"] {
    position: relative;
    top: 3px;
}
.woof_reset_search_form { display: none; }

/* Paginação de Produtos */
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    font-size: 1.1em;
    padding: .6em;
    min-width: 1em;
    background: #e41e26;
    color: #FFF;
    font-weight: 600;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #000000;
    color: #FFF;
}

/* Single Product */
.interna-produto {
    margin-top: 120px;
    width: 100%;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-right: 30px;
}
.woocommerce.single-product div.product div.images img {
    max-height: 350px;
    width: auto;
    margin: 0 auto;
}
.woocommerce div.product div.summary {
    color: #333;
}
.single-product .summary h1.product_title {
    color: #363636;
    font-weight: bold;
}
.single-product .summary .mini-info {
    margin-bottom: 30px;
}
.single-product .summary .mini-info p {
    margin-bottom: 0;
}
.single-product .summary .mini-info p span {
    padding-left: 30px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}
.single-product .summary .mini-info p span.pais {
    background: url('../images/svg/pais.svg') no-repeat center left;
    background-size: contain;    
}
.single-product .summary .mini-info p span.regiao {
    background: url('../images/svg/regiao.svg') no-repeat center left;
    background-size: contain;
    margin-left: 20px;
}

.woocommerce.single-product  .quantity .qty {
    height: 40px;
}
.woocommerce.single-product div.product form.cart .button {
    background: #e41e26 !important;
    border-radius: 0;
    width: 200px;
    padding: 10px;
    height: 40px;
}
.woocommerce.single-product div.product p.price,
.woocommerce.single-product div.product span.price {
    color: #e41e26;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
    margin: 30px 0;
}
.woocommerce.single-product div.product .price del {
    color: #333;
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.woocommerce.single-product div.product .price ins,
.woocommerce.single-product div.product .price ins span {
    text-decoration: none;   
}
.single-product .interna-produto .mais {
    background: #f9f9f9;
    color: #333;
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 50px;    
}
.single-product .interna-produto .mais .content {
    padding: 0 15%;
    margin-bottom: 50px;
}
.single-product .interna-produto .mais .ficha-tecnica .item {
    display: grid;
    margin-bottom: 20px;
    min-height: 75px;
}
.single-product .interna-produto .mais .ficha-tecnica .item img {
    display: block;
    width: 18px;    
    margin: 0 auto;
    margin-bottom: 5px;
}
.single-product .interna-produto .mais .ficha-tecnica .item.uvas img {
    width: 20px;
}
.single-product .interna-produto .mais .ficha-tecnica .item.teor-alcoolico img {
    width: 30px;
}
.single-product .interna-produto .mais .ficha-tecnica .item.organico-e-cia img {
    width: 25px;
}
.single-product .interna-produto .mais .ficha-tecnica .item.madeira img {
    width: 22px;
}
.single-product .interna-produto .produtor {
    color: #333;
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 50px;  
}
.single-product .interna-produto .mais h2,
.single-product .interna-produto .produtor h2 {
    color: #363636;
    font-family: "PlayfairDisplay";
    letter-spacing: 4px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}
.single-product .interna-produto .mais h2:after,
.single-product .interna-produto .produtor h2:after {
    border-bottom: 1px solid #e41e26;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 40px;
}
/* Galeria de produtos */
.woocommerce div.product div.images .flex-viewport {
    float: right;
    width: 80%;    
}
.woocommerce div.product div.images .flex-control-thumbs {        
    float: left;
    width: 20%;
    height: 350px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    display: flex;
    float: none;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;    
}
.woocommerce div.product div.images .flex-control-thumbs li img {
    height: 100%;
}

/* Breadcrumbs */
.breadcrumbs {
    color: #e41e26;
    margin-top: -45px;
    margin-bottom: 80px;
}
.breadcrumbs a {
    color: #ccc;
    font-weight: normal;
}
.breadcrumbs .sep:after {
    content: ">";
    color: #ccc;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 10px;
}

/* Produtos Relacionados */
section.related.products {
    margin: 30px 0;
}
section.related h2.title {
    color: #363636;
    font-family: "PlayfairDisplay";
    letter-spacing: 4px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}
section.related h2.title:after {
    border-bottom: 1px solid #e41e26;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 40px;
}
section.related .product_cat-emporio a {
    align-items: center;
    justify-content: center;
}

/* Minha Conta */
.woocommerce-account h1.entry-title {
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;    
}
.woocommerce-account h2,
.woocommerce-account h3 {
    color: #e41e26;
    font-weight: bold;
    margin-bottom: 20px;    
}
.woocommerce-account .woocommerce-customer-details h2,
.woocommerce-account .woocommerce-customer-details h3 {
    font-size: 1.5rem;
}
.woocommerce-account .lost_password a,
.woocommerce-account .woocommerce-privacy-policy-text a {
    color: #e41e26;
    font-weight: bold;
}
.woocommerce-account .password-input {
    width: 100%;
}
.woocommerce-account button.button {
    color: #fff !important;
    margin: 1em 0;
    padding: 1em 1.25em !important;
}
.woocommerce-account article {
    padding-bottom: 100px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    background: #f9f9f9;
    padding: 40px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: inline-block;    
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    margin-bottom: 10px;
    transition: padding 350ms ease-in-out;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li:focus {
    padding-left: 10px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    color: #333;
    font-weight: bold;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:focus {
    color: #e41e26;
}
.woocommerce-account .woocommerce-MyAccount-content a {
    color: #e41e26;
    font-weight: bold;   
}
.woocommerce-account .col2-set,
.woocommerce-account .woocommerce-MyAccount-content .col2-set {
    width: 100% !important;
}
.woocommerce-account .col2-set .col-1 {
    float: left;
    max-width: 48%;
    width: 48% !important;    
}
.woocommerce-account .col2-set .col-2 {
    float: right;
    max-width: 48%;
    width: 48%;    
}
.woocommerce-account legend {
    color: #000;
    font-weight: bold;
    padding: 30px 0 10px;
}
.woocommerce-account table.my_account_orders th {
    font-size: 14px;
}
.woocommerce-account a.button,
.woocommerce-account button.button {
    background-color: #e41e26;
    border-radius: 0;
    color: #fff;
    display: block;
    text-align: center;
}
.woocommerce-account a.button:hover,
.woocommerce-account button.button:hover {
    background-color: #363636;
    color: #fff;
}

/* Página do Carrinho / Page Cart */
.woocommerce-cart .woocommerce-message a.button.wc-forward {
    background: #e41e26;
    border-radius: 0;
    padding: 10px;
    color: #fff;
}
.woocommerce-cart .woocommerce-message a.button.wc-forward:hover,
.woocommerce-cart .woocommerce-message a.button.wc-forward:focus {
    background-color: #363636;
}
.woocommerce-cart table.shop_table thead {
    background: #fff;
}
.woocommerce-cart table.shop_table tbody{
    background: #f9f9f9;
    padding: 40px;
}
.woocommerce-cart table.shop_table {
    border-color: transparent !important;
    color: #363636;
}
.woocommerce table.shop_table th {
    width: 15%;
}
.woocommerce table.shop_table th.product-name {
    width: 40%;
}
.woocommerce-cart table.cart tbody tr:first-child td {
    border-top: none !important;
}
.woocommerce-cart table.cart .product-thumbnail {
    text-align: center;
}
.woocommerce-cart table.cart td.product-name a {
    color: #363636;
    pointer-events: none;
}
.woocommerce-cart table.cart .amount {
    color: #e41e26;
    font-weight: bold;
}
.woocommerce-cart a.remove:after {
    background: url('../images/svg/remover_trash.svg') no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    height: 18px;
}
.woocommerce a.remove:hover {
    background: transparent;
}
.woocommerce #content table.cart td.actions .coupon label,
.woocommerce table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label {
    display: inline-block;
    font-weight: bold;
}
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: none;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    margin-right: 0;
    width: 150px;
}
.woocommerce-form-coupon button.button {
    background-color: #e41e26;
    border: 1px solid #e41e26;
    border-radius: 0;
    color: #fff;
}
.woocommerce-form-coupon button.button:hover,
.woocommerce-form-coupon button.button:focus {
    background: #363636;
    border: 1px solid #363636;
    color: #fff;
}
.woocommerce table.cart .coupon button {
    background: #363636;
    border: 1px solid #363636;
    border-radius: 0;
    color: #fff;
    height: 35px;
    margin-left: -3px;
    vertical-align: middle;
}
.woocommerce table.cart .coupon button:hover,
.woocommerce table.cart .coupon button:focus {
    background: #e41e26;
}
.woocommerce-cart .cart_totals {
    background: #f9f9f9;
    margin-top: 40px;
    padding: 40px;
}
.woocommerce-cart .cart_totals h1,
.woocommerce-cart .cart_totals h2 {
    color: #e41e26;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 30px;
}
.woocommerce-cart .cart_totals a,
.woocommerce-cart .cart_totals .amount {
    color: #e41e26;
    font-weight: bold;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart a.wc-backward {
    background-color: #e41e26;
    border-radius: 0;
    color: #fff;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-cart a.wc-backward:hover,
.woocommerce-cart a.wc-backward:focus {
    background-color: #363636;
    color: #fff;
}

/* Notifications */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background: #f9f9f9;
    border-top: none;
}
.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {}
.woocommerce-info::before {
    color: #e41e26;
}
.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
    color: #e41e26;
    font-weight: 600;
}

/* Checkout */
.woocommerce-checkout h3,
.woocommerce-billing-fields h3 {
    color: #363636;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
}
.woocommerce-checkout #payment div.form-row a {
    color: #e41e26;
}
.woocommerce form .form-row label {
    color: #363636;
    display: block;
    font-weight: 600;    
    margin-bottom: 0;
    width: 100%;
}
.woocommerce form .form-row .woocommerce-input-wrapper {
    display: block;
    width: 100%;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 5px 10px;
}
.woocommerce table.shop_table {
    border: none;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table tfoot {
    color: #363636;
}
.woocommerce-checkout .resumo-pedido {
    background: #f9f9f9;
    margin-bottom: 40px;
    padding: 10px 20px;
}
.woocommerce-checkout #payment {
    background: #fff;
    margin-bottom: 30px;
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment .content {
    background: #f9f9f9;
    padding: 20px 40px;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    background-color: #e41e26;
    border-radius: 0;
    width: 100%;
    text-align: center;
    margin: 1em 0;
    font-size: 1.25em;
    padding: 1em;
}
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover {
    background: #363636;
    color: #fff;
}
.woocommerce #payment label {
    color: #363636;
    display: inline;
    font-weight: 600;    
    margin-bottom: 0;
    width: 100%;
}

/* Thankyou Page */
.woocommerce-checkout .woocommerce-order {
    padding-bottom: 150px;
}
.woocommerce-checkout.woocommerce-order-received .woocommerce-order h3:before {
    background: url('../images/svg/sucesso.svg') no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    margin-bottom: 30px;
    height: 50px;
    width: 50px;
}
.woocommerce-checkout.woocommerce-order-received .woocommerce-order p {
    color: #363636;
    margin-bottom: 20px;
    width: 40%;
}
.woocommerce-checkout a.pay {
    background-color: #e41e26;
    border-radius: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;    
    padding: .8em 2em;
}
.woocommerce-checkout a.pay:hover,
.woocommerce-checkout a.pay:focus {
    background-color: #363636;
    color: #fff;
}

/* Footer */
footer {
    color: #333;
}
footer p {
    font-size: 12px;
    line-height: 1.3;
}
footer h5 {
    font-size: 14px;
    font-weight: bold;
}
footer .infos {
    background-color: #f9f9f9;
    padding: 50px 0;
}
footer .infos p {
    background-size: 15px !important;
    margin-bottom: 5px;
}
footer .infos p.fone {
    background: url('../images/svg/telefone.svg') no-repeat center left;
    background-size: 18px !important;
    padding-left: 25px;
    margin-top: 10px;
}
footer .infos p.whatsapp {
    background: url('../images/svg/zap.svg') no-repeat center left;
    padding-left: 25px;
}
footer .infos p.instagram {
    background: url('../images/svg/instagram.svg') no-repeat center left;
    padding-left: 25px;
}
footer .infos p.email {
    background: url('../images/svg/email.svg') no-repeat center left;
    padding-left: 25px;
}
footer .copyright {
    margin-top: 40px;
}
footer .menu-footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: inline-block;
}
footer .menu-footer  > ul > li {
    cursor: pointer;
}
footer .menu-footer > ul > li > a {
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
    text-decoration: none;
    transition: color 350ms ease-in-out;
}
footer .menu-footer ul > li > a:hover,
footer .menu-footer ul > li > a:focus,
footer .menu-footer ul > li > a.active {
    color: #e21f25;
}

.abre-filtros {
    display: none;
    color: #e41e26;
    font-weight: 600;
    font-size: 16px;    
}
.abre-filtros:after {
    content: " +";
}
.abre-filtros.aberto {
    margin-bottom: 30px;
}
.abre-filtros.aberto:after {
    content: " -";
}

/* Responsivo */
/* Large devices (large desktops, 1200px and up) */
@media screen and ( min-width: 1201px ) {
    .container {
        max-width: 1430px;
    }
}
@media (min-width: 993px) {

    /* ---------------------
        WOOCOMMERCE
        --------------------- */
        body .woocommerce .col2-set .col-1{width:100%;}
        .woocommerce-billing-fields h3{margin-top:40px;}
        .woocommerce .col2-set, .woocommerce-page .col2-set{width:48%;float:left;}
        #order_review_heading, .woocommerce #order_review, .woocommerce-page #order_review{float:left;width:48%;margin-left:2%;}

}
@media (min-width: 768px) {
    .quem-faz p {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 767px){
    .abre-filtros {
        display: block;
    }
    .widget-area .widget {
        display: none;
    }

    header {
        background-color: #fff !important;
        width: 100%;
        top: 0;
        left: 0;
    }
    .home header {
        background-color: transparent !important;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    header .abrir-menu{
        display: block;
    }
    .fechar-menu{     
        display: flex;
    }
    .menu-principal{
        width: 100%;
        position: fixed;    
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.85);
        height: 100vh;
        z-index: 99;
        display: none;
    }
    header .menu-principal > ul{
        background: #fff;
        display: block;
        width: 350px;
        height: 100vh;
        margin-top: 0;
        position: absolute;
        left: 0;
        transition: all 350ms ease-in-out;
        overflow: auto;
        padding: 20px;
        -moz-transform: translateX(-350px);
        -webkit-transform: translateX(-350px);
        -o-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
        transform: translateX(-350px);
    }
    header .menu-principal > ul > li{
        margin-left: 0;
        margin-bottom: 15px;
    }
    header .menu-principal > ul > li > a {
        color: #000 !important;
        display: block;
        font-size: 18px !important;
        padding: 10px 8px !important;
        text-align: left;
        text-shadow: none;
    }
    header .menu-principal ul > li > a:hover,
    header .menu-principal ul > li > a:focus,
    header .menu-principal ul > li > a.active {
        color: #e41e26;
    }
    header .menu-principal > ul.transform{
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    header .menu-principal > ul > li > ul {
        position: relative;
        display: block;
        top: 15px;
        left: 0;
        width: 100%;
        box-shadow: none;
        border-top: 0;
        visibility: visible;
        opacity: 1;
        font-size: 12px;
        padding: 0px;
    }
    header .cart-login a {
        font-size: 20px;
        line-height: 20px;
        margin: 0 10px;
    }
    header .cart-login a.cart {
        margin-right: 40px;
    }
    .menu-responsivo,
    .fechar-menu {
        display: flex;
    }
    .newsletter {
        height: auto;
    }
    .newsletter img {
        margin-bottom: 20px;
        position: relative;    
    }
    header .busca form,
    header .busca .input-group {        
        width: 100%;
    }
    header .busca.active:before {
        right: calc(1% + 155px);
    }

    .home #vinhos .button {
        position: relative;
    }

    .woocommerce div.product div.images.woocommerce-product-gallery {
        margin-right: 0;
    }

    .woocommerce-products-header {
        color: #fff;
        height: auto;
        padding: 50px 0;
    }
    .woocommerce-products-header img {
        display: none;
    }
    section#banner {
        padding-top: 70px;
    }
    .home section#banner {
        padding-top: 0;
    }
    .n2-ss-slider-2 {
        height: 60vh !important;
    }
    .n2-ss-slider .n2-ss-layer-col {
        padding-top: 50px !important;
    }
    .carousel-produtos.owl-theme .owl-nav {
        bottom: 0;
        display: inline-block;
        top: calc(100%);
    }
    .woocommerce-checkout.woocommerce-order-received .woocommerce-order p {
        width: 100%;
    }
    .n2-ss-slider .n2-ss-img-wrapper, .n2-ss-slider .n2-ss-img-wrapper img {
        display: none;
    }
    .n2-ss-layer-col,
    #n2-ss-2item1 {
        text-align: center !important;
    }       
    header.fixar {
        background-color: #fff !important;
        padding-bottom: 15px !important;
    }    
    .footer .infos .col-12 {
        margin-bottom: 20px;
    }
    .woocommerce-products-header,
    .term-emporio .woocommerce-products-header {
        background-image: none;
        margin-top: 81px;
    }    
    .woocommerce-products-header h1 {
        color: #e41e26;
    }    
    .woocommerce-products-header p {
        color: #363636;
    }    
    .woocommerce-account .col2-set .col-1 {
        float: none;
        max-width: 100%;
        width: 100% !important;    
    }
    .woocommerce-account .col2-set .col-2 {
        float: none;
        max-width: 100%;
        width: 100%;    
    }

    /* Largura dos campos de pagamento*/
    #add_payment_method #payment div.payment_box .form-row,
    .woocommerce-cart #payment div.payment_box .form-row,
    .woocommerce-checkout #payment div.payment_box .form-row {
        width: 100%;
    }

}
@media only screen and (max-width: 550px) {
    header .menu-principal ul{
        width: 230px;
        -moz-transform: translateX(-230px);
        -webkit-transform: translateX(-230px);
        -o-transform: translateX(-230px);
        -ms-transform: translateX(-230px);
        transform: translateX(-230px);
    }
    .fechar-menu{
        left: 240px;
    } 
}